<div class="container">

    <h3 class="d-flex justify-content-center">Angular 13  project consume web api core 5 </h3>
    <h5 class="d-flex justify-content-center">Relationship between Authors and Their Books</h5>

    <div class="row p:4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" routerLink="books" href="#">Books Store </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
               
                <li class="nav-item">
                  <a class="nav-link" routerLink="author" href="#">Author</a>
                </li>
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Book Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
              </form>
            </div>
          </nav>
       
    </div>

    


<router-outlet></router-outlet>
    
</div>